.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: white;
    padding: 0.75rem;
    max-width: 280px;
    height: 220px;
    margin: 0.5rem;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1); 
    text-decoration: none;
}

.icon{
    height: 60px;
    width: 60px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon svg{
    height: 35px;
    width: 35px;
}

.title {
    margin: 0px;
}

.title h2{
    color: var(--secondary);
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.description{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px;
}

.description p{
    color: var(--primary);
    font-size: 1rem;
}

.data{
    color: var(--secondary);
    font-size: 0.9rem;
    border-radius: 0.5rem;
    padding: 0.25rem;
    margin: 0.25rem;
    background-color: var(--background);
}


.container:hover{
    background-color: rgb(245, 245, 245);
    cursor: pointer;
    text-decoration: none;
}

.image img{
    width: 50px;
}